.buttonAddAnnounce{
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: 4rem;
}
button.addAnnounce:hover{
    background:#011740;
}
button.addAnnounce{
    all: unset;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: #011740;
    position: relative;
    margin: 2rem;
    
  }
  button.addAnnounce::before,
  button.addAnnounce::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    z-index: -1;
    background-size: 500%;
    animation: animate 20s infinite;
    border-radius: 10px;
  }
  button.addAnnounce::after {
    filter: blur(20px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 300% 0; }
    100% { background-position: 0 0; }
  }

